.cat_table {
  width: 67rem;
}
.btnAddCat {
  margin-left: 52rem;
  height: 2.5rem;
  background: #32a2c7;
  color: white;
}
button.btn.btn-primary {
  margin-top: 13px;
  margin-right: 7px;
}
button.btn.btn-secondary {
  margin-top: 13px;
}
.error{
  color: red;
  font-size: 11px;
}
select.form-select {
  height: 2.5rem;
  width: 29rem;
}
.cat_table thead {
  color: #fff;
  background-color: #32a2c7 !important;
  border-color: #454d55;
}
