.cat_table {
  width: 67rem;
}
.btnAddCat {
  margin-left: 52rem;
  height: 2.5rem;
  background: black;
  color: white;
}
button.btn.btn-primary {
  margin-top: 13px;
  margin-right: 7px;
}
button.btn.btn-secondary {
  margin-top: 13px;
}
.error{
  color: red;
}
